
.content .contentArc{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content .contentArc .gambar img{
    margin-left: -100px;
}
.content .contentArc .judul{
    margin-left: 100px;
    margin-right: 100px;
} 
.content .isi{
    margin-top: -50px;
    margin-left: 100px;
    margin-right: 100px;
}
