
.content .contentArc{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content .contentArc .gambar img{
    width: 500px;
    
} 
.content .isi{
    font-family: "Montserrat", sans-serif;
}

.content{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.QnA{

    margin-top: 5%;
}