body{
    margin:0%;
    font-family: 'Oxygen', sans-serif;
}

header {

    background-color: rgb(252, 238, 158);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 120px;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    font-family: 'Oxygen', sans-serif;
    margin:0%;
}

header .HeadLeft{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    color:rgb(69, 96, 248);
    font-size: 25px;
}
header .HeadRight{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}

header .HeadRight a{

    display: flex;
    flex-direction: row;
    padding: 50px;
    font-size: 20px;
    margin: 0;
    text-decoration: none;
    color: white;
}

header .HeadRight p{
    display: flex;
    flex-direction: row;
    padding: 50px;
    font-size: 20px;
    margin: 0;
    text-decoration: none;
    color: rgb(69, 96, 248);
    background-color: white;
}

header .HeadRight a:hover, .headRight:active{

    color:rgb(69, 96, 248);
    background-color: white;
    transition: 0.5s;
    transform: scale(1.1);
}

header img{

    width: 100px;
    height: 100px;
}

footer {

    background-color: rgb(252, 238, 158);
    color: rgb(69, 96, 248);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Oxygen', sans-serif;
}

footer .TailLeft{

    margin-left: 25px;
    font-size: 15px;
}

footer .TailRight{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 25px;
}

footer img{

    width: 50px;
    height: 50px;
    margin: 10px;
}