
.bodyBanner img{
  
  width: 100%;
  height: 100%;
}

.body2 {
  overflow: hidden;
  height: 300px;
  width: 1200px;
  margin-left: 650px;
  margin-top: 50px;
}

.body3 {
  margin-top: 30px;
  background-color: #333d79ff;
  color: white;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.logo-aboutUs img{
  
  width: 200px;
  height: 200px;
  margin: 5%;
  display: flex;
  align-items: center;
  border-radius: 0px;

}

.body3Content{
  display: flex;
  flex-direction: column;
  text-align:justify;
  margin: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 20px;
}

.body3Content h2{
  font-size: 50px;
  margin: 0;
}

@keyframes slide_animation {
  0% {
    left: 0px;
  }
  10% {
    left: 0px;
  }
  20% {
    left: 1200px;
  }
  30% {
    left: 1200px;
  }
  40% {
    left: 2400px;
  }
  50% {
    left: 2400px;
  }
  60% {
    left: 1200px;
  }
  70% {
    left: 1200px;
  }
  80% {
    left: 0px;
  }
  90% {
    left: 0px;
  }
  100% {
    left: 0px;
  }
}

.slide-feature {
  width: 3600px;
  height: 800px;
  margin: 0 0 0 -2400px;
  position: relative;
  animation-name: slide_animation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

.img-container {
  height: 300px;
  width: 1200px;
  position: relative;
  float: left;
}

.judul {
  display: flex;
  justify-content: center;
  align-items: center;
}

